
@font-face {
	font-family: 'Ginga';
	src:url('fonts/ginga-r09p-webfont.woff') format('woff');
	src:url('fonts/ginga-r09p-webfont.woff2') format('woff2');
}

@font-face {
	src:url("https://use.typekit.net/zin8nut.css");
} 



html {
	Box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit; 
	padding: 0;
	margin:0;
}

body {
	font-size: 100%;
	line-height: 2em;
	text-align: left;
}

.container {
	width: 960px;
	display: block;
	margin: 0 auto;
	overflow:hidden;
	
}
.flex-row {
	display: flex;
}

/* Simple Grid - 12 columns 60/20 */

.columns_1 {
	width: 960px;
	float: left;
}

.columns_2 {
	width: 480px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.columns_3 {
	width: 300px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}


h1 {
	font-family: pulpo-rust-50, serif;
	font-style: normal;
	font-weight: 400;
	font-size: 2.8em;
	line-height: 1em;
}

h2{
	font-size: 2em;
	margin: 0 0 20px 0;
	color: #45899C;
	font-family: pulpo-rust-50, serif;
}

h3 {
	font-size: 1.7em;
	color:#45899C;
	text-align: center;
	font-family: pulpo-rust-50, serif;
}

h4 {
	font-size: 1em;
	color: #45899C;
	text-align: center;
	margin: 15px 0;
	font-family: ''Kavivanar', cursive;'
}

h5 {
	font-size: 1em;
	margin: 0 0 20px 0;
	color: #E64919;
	font-family: 'Shree Devanagari 714';
}

h6 {
	font-size: 1em;
	color: #F8F6F5;
	font-family: 'Shree Devanagari 714';
}

.small-text {
	font-size: 1.2em;
	font-family:pulpo-rust-50, serif;
	color: #fff;
}

.btn{
	align: right; 
	width: 150px;
	padding: 2px 20px;
	background-color: #BA8847;
	font-size: 15px;
	text-align: center;
	border-radius:4px;
	text-decoration: none;
	cursor: pointer;
	color: #E7E8E8;
}
.btn:hover{
	background-color: #E0A455;
}


header {
	width: 100%;
	background-color: #7A5A2F;
	position:fixed;
	top:0;
	z-index: 1000;
}

.logo {
	width: 250px;
	height: 15px;
	float:left;	
	margin-top: 10px;
	margin-bottom: 20px;
}

nav {
	float:right;
	margin-top: 7px;
	text-decoration: none;
}

nav ul {
	list-style-type: none;
	text-align:center;
	color: #E0A455;
	text-decoration: none;
}

nav li {
	display: inline-block;
	font-family: "Kavivanar Regular";
	color: #E0A455;
	text-decoration: none;
	font-size: .7em;
	font-weight:700;
	text-transform: uppercase;
	letter-spacing: 0em;
	margin-left: 20px;
	cursor: pointer;
	
}

nav li a:link {
	color: #E0A455;
	text-decoration: none;
}

nav li a:visted {
	color: #E0A455;
}

nav li a:hover {
	color:#E64919;
}

nav li a:active {
	color: #E64919;
}

img{
	width: 100%;
	display: block;
}

.section-head {
	width: auto;
	text-align: center;
	line-height: 1em;
	float: center;
	padding: 15px 0 7px 0;
}

.section-subhead {
	width:auto;
	text-align: center;
	float: center;
	line-height: 0;
	padding-bottom: 40px;
	
}

.hero {
	height: 590px;
	text-align: right;
	color: #fff;
	padding:100px 150px 0 0;
	background-image:url("images/guitars.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
}
.title {
	position: absolute;
	top: 100px;
	right:100px;
}	

.sec-1 {
	width:auto;
	opacity: 50%;
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 0 0 20px 0;
	
}

/*About*/
.sec-2 {
	width: auto;
	text-align: center; 
	padding: 15px 0 30px 0;
	float: center;
	background-color: #fff;
}


/*History Then*/
.sec-3 {
	width: auto;
	text-align: right;
	padding: 30px 0 30px 0;
	background-image:url("images/country-guitar.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

/*Now*/
.sec-4 {
	width: auto;
	padding: 30px 0 30px 0;
	background-color: #fff;
}
.sec-4 img {
	width: 100%;
	border-radius: auto;
}

/*rise of the stars*/
.sec-5 {
	width:100%;
	height: auto;
	background-color: #E0A455;
	padding: 30px 0 30px 0;
}

.sec-5-subhead {
	text-align: center; 
	margin-bottom: 5px;
	padding: 5px 0;
}

.sec-5-copy{
	text-align: left;
	margin-bottom: 20px;
	padding: 10px 0 10px 0;
}

/*rise of the stars cont*/
.sec-6 {
	background-color: #fff;
	padding: 30px 0 30px 0;
}

.sec-6-subhead{
	text-align: center;
	margin-bottom: 5px;
	padding: 5px 0;
}

.sec-6-copy{
	text-align: left;
	margin-bottom: 20px;
	padding: 10px 0 10px 0;
}

/*places to visit*/
.sec-7 {
	background-color: #E0A455;
	padding: 15px 0 15px 0;
}

/*more information*/
.sec-8 {
	width: 100%;
	padding: 30px 0 30px 0;
	padding-bottom: 50px;
	background-color: #FFFFFF;
}
.sec-8-form input[type="text"],
.sec-8-form input[type="email"],

.sec-8-form textarea,
.sec-8-form select {
	width: 100%;
	height: 45px;
	margin-bottom: 10px;
	padding: 7px 5px 5px 10px;
	border: 1px solid #E2E2E2;
	color: #E2E2E2;
}
.sec-8-form textarea,
.sec-8-form select{
	resize:none;
	width: 100%;
	height: 120px;
	margin-bottom: 20px;
	padding: 7px 5px 20px 5px;
	border: 1px solid #E2E2E2;
	color: #E2E2E2;
}

textarea {
	resize: none;
}

.sec-9 {
	width: 100%;
	height: auto;
	padding: 20px 0 40px 0;
	text-align: center;
	background-color: #7A5A2F;
}

.footer-head {
	font-size: 1.25em;
	font-family: pulpo-rust-50, serif;
	margin-top:5px;
	margin-bottom: 15px;
	text-align: left;
	color: #F8F6F5;
}

.sec-9 p{
	font-size: 1em;
	color: #F8F6F5;
	font-family: 'Kavivanar', cursive;
}

.sec-9 a{
	font-size: 1em;
	color: #F8F6F5;
	font-family: 'Kavivanar', cursive;
	text-decoration: none;
}

.sec-9 a:hover {
	color:#BA8847;
	
}

.copyright{
	width: 100%;
	color: #7A5A2F;
}

.copyright p {
	margin-top: 50px;
	margin-bottom: 0;
	text-align: center;
	color: #F8F6F5;
}

.fa-facebook-square,
.fa-twitter-square, 
.fa-instagram {

	font-size: 2em;
	text-align: center;
	margin: 20px 5px 0 15px;
	color:#F8F6F5;
	text-decoration: none;
}

.copyright a:link {
	color: #F8F6F5;
	text-decoration: none;
}

.copyright a:visted {
	color:#F8F6F5;
	
}
.copyright a:hover {
	color:#BA8847;
	
}

.copyright a:active{
	color: #7A5A2F;
	text-decoration: none;
}






